@import url("global.css");

.helpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--margin-s);
    padding-inline: var(--margin-s);
    width: clamp(280px, 80vw, 1200px);
    margin-inline: auto;
    color: var(--light);
}

.questionBox {
    display: grid;
    grid-template-rows: auto 0fr;
    width: 100%;
    border-radius: var(--radius-m);
    border: 1px solid var(--light);
    overflow: hidden;

    &.open {
        grid-template-rows: auto 1fr;
        border-color: var(--vib);
        padding-bottom: var(--margin-s);
        
        .question {
            border-bottom: 1px solid var(--vib);
            margin-bottom: var(--margin-s);
        }
    }
}

.question {
    font-size: var(--fs-subheader);
    background-color: var(--bg);
    padding: var(--margin-s);
    border-bottom: 1px solid transparent;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.answer {
    font-size: var(--fs-subpoints);
    padding-inline: var(--margin-m);
    overflow: hidden;
    user-select: text;
}

@media (max-width: 767px) {
    .helpContainer {
        width: 90vw;
    }
    .answer {
        padding-inline: var(--margin-m);
    }
}
