@import url("global.css");

.loginOverlay {
    display: none;
    pointer-events: none;
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.loginOverlay.visible {
    display: block;
    pointer-events: auto;
}

.loginPopup {
    display: none;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    border: 1px solid var(--vib);
    border-radius: var(--radius-l);
    padding: var(--margin-s);
    width: clamp(250px, 75vw, 350px);
}

.loginPopup.open {
    display: block;
}

.loginHeader {
    text-align: center;
    margin-bottom: var(--margin-s);
    font-size: var(--fs-subheader);
    color: var(--light);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input {
    margin-bottom: var(--margin-s);
    padding: var(--radius-s);
    border: 2px solid var(--light);
    border-radius: var(--radius-s);
    background-color: var(--bg);
    color: var(--light);
    width: 100%;
    font-size: var(--fs-swal);
}

.loginForm input:focus {
    outline: none;
    border-color: var(--vib);
}

.loginSubmitBtn,
.logoutBtn {
    background-color: var(--vib);
    color: var(--bg);
    border: 2px solid var(--vib);
    border-radius: var(--radius-s);
    font-size: var(--fs-subpoints);
    text-align: center;
    padding: var(--margin-xs);
    margin-bottom: var(--margin-s);
    width: 40%;
    cursor: pointer;
}

.logoutBtn {
    display: none;
}

.loginSubmitBtn:hover,
.logoutBtn:hover {
    background-color: var(--bg);
    color: var(--vib);
    border: 2px solid var(--vib);
}

@media (max-width: 767px) {
    .loginPopup {
        width: 90vw;
    }
}