@import url("global.css");

.presetsOverlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    pointer-events: none;
    z-index: 40;
}

.presetsOverlay.visible {
    display: block;
    pointer-events: auto;
}

.presetsPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs);
    padding: var(--margin-xs);
    background-color: var(--bg);
    border: 1px solid var(--vib);
    border-radius: var(--radius-l);
    overflow-y: scroll;
}

.presetsOverlay.visible ~ .presetsPopup {
    opacity: 1;
    pointer-events: auto;
}

.preset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.presetBtn {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--fs-subpoints);
    color: var(--light);
    text-align: left;
    max-width: 65%;
    
    &:hover {
        color: var(--vib);
    }
}

.presetSR {
    display: flex;
    align-items: center;
    border-radius: var(--radius-xs);
    font-size: var(--fs-subpoints);
    color: var(--light);
    margin-left: var(--margin-s);
}

.presetSet,
.presetReset {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    width: 100%;
    &:hover {
        color: var(--vib);
    }
}

.presetSet {
    padding-right: calc(var(--margin-xs) / 2);
    border-right: 1px solid var(--light);
}

.presetReset {
    padding-left: calc(var(--margin-xs) / 2);
}

@media (max-width: 767px) {
    .presetsPopup {
        max-width: 90vw;
    }
}