@import url("global.css");

/*#region main page settings*/

.mainSettingsOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  pointer-events: none;
  z-index: 49;
}

.mainSettingsOverlay.visible {
  display: block;
  pointer-events: auto;
}

.mainSettingsPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
  opacity: 0;
  pointer-events: none;
  width: clamp(280px, 50vw, 350px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: var(--margin-s);
  padding: var(--margin-s);
  background-color: var(--bg);
  border: 2px solid var(--vib);
  border-radius: var(--radius-l);
  font-size: var(--fs-subpoints);
  color: var(--light);
  transition-duration: 0.3s;
}

.mainSettingsOverlay.visible~.mainSettingsPopup {
  opacity: 1;
  pointer-events: auto;
}

.colorPickerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-s);
  
}

.colorPickerInput {
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: var(--radius-l);

  &:hover {
    cursor: pointer;
  }
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
}

.schemeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.speffzBtn,
.customLettersBtn {
  color: var(--light);

  &:hover {
    color: var(--vib);
    cursor: pointer;
  }
}

.schemeInput,
.schemeInputE {
  width: 100%;
  opacity: .25;
  pointer-events: none;
  color: var(--light);
  background-color: var(--bg);
  border: 1px solid var(--light);
  border-radius: var(--radius-s);
  padding: var(--margin-xs);

  &:active,
  &:focus,
  &:focus-within {
    outline: none;
    border: 1px solid var(--vib);
  }
}

.schemeInput.open,
.schemeInputE.open {
  opacity: 1;
  pointer-events: auto;
}

.dangerZone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--margin-xs);
  align-items: center;
  row-gap: var(--margin-s);
  padding: var(--margin-s) var(--margin-m);
  border: 1px solid red;
  border-radius: var(--radius-s);

  & div:hover {
    color: red;
    cursor: pointer;
  }
}

.saveMainSettings {
  width: 50%;
  padding-block: var(--margin-xs);
  background-color: var(--vib);
  align-self: center;
  color: var(--bg);
  margin-inline: auto;
  border-radius: var(--radius-s);
  font-size: var(--fs-subpoints);
  text-align: center;

  &:hover {
    outline: 2px solid var(--vib);
    color: var(--vib);
    background-color: var(--bg);
    cursor: pointer;
  }
}

/*#endregion*/

/*#region piecetype settings*/
.settingsOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  pointer-events: none;
  z-index: 49;
}

.settingsOverlay.visible {
  display: block;
  pointer-events: auto;
}

.settingsOverlay.visible~.settingsPopup {
  opacity: 1;
  pointer-events: auto;
}

.settingsPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  border: 1px solid var(--vib);
  color: var(--light);
  width: clamp(290px, 40vw, 600px);
  padding: var(--margin-s);
  border-radius: var(--radius-m);
  transition-duration: 0.3s;
  font-size: var(--fs-subpoints);
  opacity: 0;
  pointer-events: none;
  z-index: 50;
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: var(--margin-s);
}

.settingsPopup input[type=number] {
  background-color: transparent;
  color: var(--light);
  font-size: var(--fs-swal);
  border: 1px solid var(--light);
  border-radius: var(--radius-s);
  padding-block: var(--margin-xs);
  text-align: center;
  max-width: 4rem;
  -moz-appearance: textfield;
  appearance: textfield;

  &:active,
  &:focus,
  &:focus-within {
    outline: none;
    border: 1px solid var(--vib);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.settingsPopup input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--fs-subpoints);
  height: var(--fs-subpoints);
  border: 2px solid var(--light);
  border-radius: var(--radius-s);
  outline: none;
  cursor: pointer;  
  box-shadow: 0 0 0 15px var(--bg) inset;
  transition: border-radius .3s linear, background-color .3s linear, box-shadow .3s linear;

  &:checked {
    box-shadow: 0 0 0 5px var(--bg) inset;
    background-color: var(--vib);
    border-radius: var(--radius-xl);
  }
}

.bufferOrderContainer,
.rightSettingsContainer {
  height: 100%;
  width: 100%;
  text-align: center;
}

.bufferOrderContainer {
  padding: var(--margin-xs);
  border: 1px solid var(--light);
  border-radius: var(--radius-s);
}

.rightSettingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-xs);
}

.rightSettingsContainer > div:not(:last-child):not(.savePtSettingsBtn) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid var(--light);
  border-radius: var(--radius-s);
  padding: var(--margin-s);
  gap: var(--margin-s);
}

.rightSettingsContainer > div:not(:last-child):not(.savePtSettingsBtn) div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.savePtSettingsBtn {
  width: 50%;
  padding-block: 5px;
  background-color: var(--vib);
  justify-self: center;
  align-self: center;
  color: white;
  border-radius: var(--radius-s);
  border: 2px solid var(--vib);
  cursor: pointer;
}

.savePtSettingsBtn:hover {
  background-color: var(--bg);
  color: var(--vib);
}

.bufferOrderContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--margin-xs);

  & div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    color: var(--bg);
    border-radius: var(--radius-s);
    border: 2px solid var(--light);
    cursor: pointer;
  }

  & div.selected {
    background-color: var(--vib);
  }
}

.sortable-ghost {
  opacity: 0;
}

@media (max-width: 1200px){
  .settingsPopup {
    width: 60vw;
    grid-template-columns: 9rem 1fr;
  }
  .rightSettingsContainer > *:not(:last-child) {
    gap: var(--margin-xs);
  }
}

@media (max-width: 700px) {
  .settingsPopup {
    width: 80vw;
    grid-template-columns: 6rem 1fr;
  }
}

@media (max-width: 480px) {
  .settingsPopup {
    width: 90vw;
    padding: var(--margin-xs);
    gap: var(--margin-xs);
  }
  .rightSettingsContainer > *:not(:last-child) {
    padding: var(--margin-xs);
  }
}