@import url("global.css");

.topSection {
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 2px solid var(--light);
    background-color: var(--bg);
    margin-bottom: var(--margin-s);
    width: 100%;
    box-sizing: border-box;
}

.homeBtnLink {
    position: absolute;
    filter: invert(180);
    opacity: .7;

    &:hover {
        opacity: 1;
    }
}

.homeBtnImg {
    width: var(--fs-icon);
    height: var(--fs-icon);
    margin-left: var(--margin-s);
    cursor: pointer;
}

.piecetypeHeader {
    font-size: var(--fs-subheader);
    color: var(--light);
    font-family: sans-serif;
    font-weight: bold;
    margin-left: var(--margin-xl);
}

.piecetypeNav > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: var(--margin-m);
    margin-right: var(--margin-m);
    margin-block: var(--margin-s);

    & > *:hover {
        cursor: pointer;
    }
}

.slowCasesOpener {
    font-size: var(--fs-subpoints);
    color: var(--light);
    line-height: 1;

    &:hover {
        cursor: pointer;
        color: var(--vib);
    }
}

.ptSettings {
    width: var(--fs-icon);
    height: var(--fs-icon);
    filter: invert(180);

    & img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        filter: invert(180) drop-shadow(0 0 2px var(--vib));
    }
}

.presetsOpenerT {
    font-size: var(--fs-subpoints);
    color: var(--light);
    line-height: 1;
    padding-block: var(--margin-s);

    &:hover {
        cursor: pointer;
        color: var(--vib);
    }
}

.presetsOpenerI {
    display: none;
    width: var(--fs-icon);
    filter: invert(180);

    & img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        filter: invert(180) drop-shadow(0 0 2px var(--vib));
    }
}
.specialSlowsOpenerT,
.slowCasesOpenerT {
    font-size: var(--fs-subpoints);
    color: var(--light);
    line-height: 1;

    &:hover {
        cursor: pointer;
        color: var(--vib);
    }
}

.specialSlowsOpenerI,
.slowCasesOpenerI {
    display: none;
    width: var(--fs-icon);
    filter: invert(180);

    & img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        filter: invert(180) drop-shadow(0 0 2px var(--vib));
    }
}

.specialSlowsOptions {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: var(--bg);
    border: 2px solid var(--light);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-subpoints);
    color: var(--light);
}

.specialSlowsContainer:hover .specialSlowsOpenerT,
.slowCaseOpenerT {
    color: var(--vib);
}

.specialSlowsOption {
    padding-inline: var(--margin-m);
    text-align: center;

    &:hover {
        color: var(--vib);
        cursor: pointer;
    }
}

.piecetypeToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.piecetypeAll,
.piecetypeNone {
    color: var(--light);
    font-size: var(--fs-subpoints);
    line-height: 1;
    text-align: center;

    &:hover {
        color: var(--vib);
    }
}

.piecetypeAll {
    border-right: 2px solid var(--light);
    padding-right: var(--margin-xs);
}

.piecetypeNone {
    padding-left: var(--margin-xs);
}

.startBtn {
    line-height: 1;
    font-size: var(--fs-subpoints);
    padding: var(--margin-xs) var(--margin-l);
    border-radius: var(--radius-l);
    color: var(--light);
    background-color: var(--vib);
}

.startBtn:hover {
    color: var(--vib);
    background-color: var(--light);
    cursor: pointer;
}


@media (max-width: 767px) {
    .homeBtnImg {
        margin-left: var(--margin-xs);
    }
    .piecetypeHeader {
        margin-left: var(--margin-l);
    }
    .piecetypeNav ul {
        margin-right: var(--margin-s);
        gap: var(--margin-xs);
    }
    .startBtn {
        padding-inline: var(--margin-s);
    }
    .piecetypeAll {
        padding-right: calc(var(--margin-xs)/2);
    }
    .piecetypeNone {
        padding-left: calc(var(--margin-xs)/2);
    }
}

@media (max-width: 560px) {
    .topSection {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--margin-xs);
        padding-block: var(--margin-xs);
    }
    .homeBtnLink {
        left: 3px;
    }
    .piecetypeHeader {
        margin: 0;
    }
    .piecetypeNav {
        width: 100%;
        margin: 0;
    }
    .piecetypeNav ul {
        margin: 0;
        justify-content: space-evenly;
    }

    .presetsPopup {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .specialSlowsOpenerT,
    .slowCasesOpenerT,
    .presetsOpenerT {
        display: none;
    }

    .specialSlowsOpenerI,
    .slowCasesOpenerI,
    .presetsOpenerI {
        display: block;
    }
}