@import url("global.css");

.topSection {
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 2px solid var(--light);
    background-color: var(--bg);
    margin-bottom: var(--margin-s);
    padding-inline: var(--margin-m);
    padding-block: var(--margin-s);
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: calc(var(--fs-icon)*1.5);
    filter: invert(180);
}

.mainHeader {
    font-size: var(--fs-header);
    color: var(--light);
    font-weight: bold;
    letter-spacing: var(--header-spacing);
    text-shadow: 0 0 var(--margin-s) #ffffff50;
}

.donateBtn {
    color: white;
    font-size: var(--fs-icon);
    line-height: 1;
    opacity: 1;
    filter: drop-shadow(0 0 1px var(--light));

    &:hover {
        color: var(--vib);
        filter: drop-shadow(0 0 2px var(--vib));
    }
}